* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1920px;
    font-family: "Open Sans", sans-serif;
}

.flex {
    display: flex;
    position: relative;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header div.logo {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

header a {
    padding: 0 1.3rem;
    color: black;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    background-color: #0061ff;
    color: white;
}


.big-conteiner {
    margin: auto;
    max-width: 1200px;
    padding-top: 5rem;
}

.small-conteiner {
    margin: auto;
    max-width: 1000px;
    padding-top: 9rem;
}

main .jumbo {
    background-color: #b4d0e7;
}

main h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
}

[alt="Dropbox-app-sample"] {
    width: 52.5rem;
    position: absolute;
    right: 0;
}

.jumbo .text {
    max-width: 360px;
}

.small-text {
    font-size: .9rem;
    font-weight: 100;
}

main button {
    padding: .8rem 1rem;
    margin: 1.5rem 0;
}

main .jumbo i {
    font-size: 3rem;
    padding: 5rem 0 1rem 0;
}

main h2 {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

main label {
    padding-right: 3rem;
}

main .plans .plan {
    border: .1px solid #d0d0d3;
    width: calc((100% /3) - 2rem);
}

main .plans {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.plan-name {
    text-align: center;
    border-bottom: .1px solid #d0d0d3;
    padding: .5rem;
}

main .plan .content {
    padding: 2rem 2rem;
}

.plan h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

main .plan p {
    padding-bottom: 1.5rem;
}

main .plan .content div {
    padding-bottom: 2rem;
}

main .plan strong {
    font-weight: 600;
}

main .plan i {
    padding-right: .3rem;
}

main .plan span {
    border-bottom: 1px solid #d0d0d3;
    padding-bottom: 2rem;
}



main .plan .bottom-plan i {
    color: #0061ff;
}