* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1920px;
    font-family: "Open Sans", sans-serif;
}

.flex {
    display: flex;
    position: relative;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header div.logo {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

header a {
    padding: 0 1.3rem;
    color: black;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    background-color: #0061ff;
    color: white;
}


div.conteiner {
    margin: auto;
    max-width: 1200px;
    padding-top: 5rem;
}

main .jumbo {
    background-color: #b4d0e7;
}

main h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
}

[alt="Dropbox-app-sample"] {
    width: 52.5rem;
    position: absolute;
    right: 0;
}

.jumbo .small-text {
    max-width: 360px;
}

.small-text {
    text-align: left;
}

main button {
    padding: .8rem 1rem;
    margin: 1.5rem 0;
}

main .jumbo i {
    font-size: 3rem;
    padding: 5rem 0 1rem 0;
}