* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1920px;
    font-family: "Open Sans", sans-serif;
}

p {
    font-weight: 100;
}

.plans p,
.last-plan p {
    font-size: .9rem;
}

li {
    font-weight: 100;
}

header li {
    padding: 0 1.5rem;
}

.flex {
    display: flex;
    position: relative;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 1.5rem 1.5rem 1.5rem 0;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header a {
    color: black;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    background-color: #0061ff;
    color: white;
}

.white-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 100;
}

.big-conteiner {
    margin: auto;
    max-width: 1200px;
    padding-top: 5rem;
}

.small-conteiner {
    margin: auto;
    max-width: 1000px;
    padding-top: 9rem;
}

.bg-color {
    background-color: #b4d0e7;
}

main h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
}

[alt="Dropbox-app-sample"] {
    position: absolute;
    right: 0;
}

main .big-disp {
    width: 70%;
}

main .little-disp {
    width: 30%;
}

main button {
    padding: .8rem 1rem;
    margin: 1.5rem 0;
}

main .jumbo i {
    font-size: 3rem;
    padding: 5rem 0 1rem 0;
}

main h2 {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

main label {
    padding-right: 3rem;
}

main .plan,
.last-plan {
    border: .1px solid #d0d0d3;
    margin-top: 3rem;
}

main .plans .plan {
    border: .1px solid #d0d0d3;
    width: calc((100% /3) - 2rem);
}

main .plans {
    display: flex;
    justify-content: space-between;
}

main .plan ul {
    list-style: none;
    padding-top: 2rem;
}

main .plan li {
    padding-bottom: 1rem;
    font-size: .9rem;
    display: flex;
}

main .last-plan .content {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

main .last-plan .content p {
    width: 90%;
}

main .plan button,
.last-plan button {
    font-size: .9rem;
}

.plan-name {
    align-items: center;
    text-align: center;
    border-bottom: .1px solid #d0d0d3;
    padding: .5rem;
}

main .plan button,
.last-plan button {
    width: 100%;
}

main .plan .content {
    padding: 2rem;
}

.plan h3,
.last-plan h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

main .plan .content p {
    padding-bottom: .5rem;
}

main .plan strong,
.last-plan strong {
    font-weight: 600;
}

main .last-plan .content p:last-of-type {
    padding: 3rem 0 1rem 0;
}

main .plan i,
.last-plan i {
    padding-right: .3rem;
}

main .plan span {
    border-bottom: 1px solid #d0d0d3;
    padding-bottom: 2.5rem;
}

main .bottom-plan i {
    color: #0061ff;
}

main .bottom-plan {
    margin-top: 2.5rem;
}

main .partner img {
    width: 60%;
}

main .partner .little-disp {
    width: 40%;
    padding: 0 3rem 0 3rem;
}

main .partner h2 {
    font-size: 1.5rem;
    padding: 3rem 0 1rem 0;
}

main .operations article {
    width: calc((100% / 3) - 2.8rem);
    padding-bottom: 3rem;
}

main .operations article h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

main .operations article img {
    object-fit: cover;
    width: 100%;
}

main .logos {
    padding-top: 9rem;
}

main .logos div {
    width: calc(100% / 3);
}

main .logos article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: 320px;
}

main .logos article img {
    object-position: center;
    width: 50%;
}

main .logos div:nth-child(2) {
    padding: 3.5rem;
}

main .logos div:nth-child(2) img {
    width: 17rem;
    padding-bottom: 2.5rem;
}

main .logos div p {
    padding-bottom: 3rem;
}

main .logos div span {
    color: #d0d0d3;
}

#logo-des {
    background-color: #a2d39b;
    border: 1rem solid #d1e9cd;
}

#logo-asu {
    background-color: #61082b;
}

#logo-uf {
    background-color: #0093ce;
}


#logo-topps {
    background-color: #ff1c1c;
}


#logo-wbc {
    background-color: #d5001f;
}


#logo-hc {
    background-color: #b4d0e7;
}


#logo-lp {
    background-color: #0d2481;
}


#logo-cco {
    background-color: #ffd830;
}


main .free-trial button {
    border: none;
    width: 100%;
    margin: 0;
}

main .free-trial h2 {
    color: #61082b;
    width: 80%;
    padding: 0;
}

main .free-trial {
    padding-bottom: 9rem;
}

main .QeA h2 {
    border-bottom: 1px solid #999999;
}

main .QeA li {
    align-items: center;
    padding: 2.5rem 0;
    border-bottom: 1px solid #999999;
    font-weight: bold;
}

main .QeA i {
    font-size: .8rem;
    padding-right: 2.5rem;
}