* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1920px;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1.5rem;
    border-bottom: 1px solid #ede9e3;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

div.account {
    display: flex;
    flex-direction: column;
}

div.account i {
    padding-right: 3rem;
}

div.account button {
    background-color: white;
    font-size: 1rem;
    padding: .5rem 5rem .5rem .5rem;
    border: 1px solid #c9c5bd;
    margin-bottom: 1rem;
}